/* Ce fichier contient le code CSS de la partie <Main> du html ainsi que la structure générale du body */
* {
    margin:0;
    padding:0;
}
body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
}
h1, h2, h3, h4, h5, h6, p {
    color: var(--text-color)

}
/* Styles pour les classes dans le body */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    margin: 200px;
    display: grid;
    place-items: center;
    align-content: center;
    text-align: center;
}
.section {

}
.show {
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.parallax {
    width: 100%;
    height: 100%;
    perspective: 1px;
    position: relative;
    z-index: 2;
    top: 0;
    left:0;
}
img {
    margin: 100px;
}