:root {
    /* Mode Clair */
    --background-color: #ffffff;
    --text-color: #000000;
}

[data-theme="dark"] {
    /* Mode Sombre */
    --background-color: #363537;
    --text-color: #FAFAFA;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}
#modeSombre {
    position: fixed; /* Le bouton reste fixe par rapport à la fenêtre d'affichage */
    top: 0; /* 0px depuis le haut de la fenêtre d'affichage */
    left: 0; /* 0px depuis le côté gauche de la fenêtre d'affichage */
    z-index: 1000; /* Assure que le bouton reste au-dessus des autres éléments */
    margin: 10px; /* Ajoute un peu d'espace autour du bouton pour qu'il ne soit pas collé aux bords */
}

