
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: background-color 2s;
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px; /*  arrondir angle */
    border-color: black; /* Couleur initiale, sera changée par JS */
    margin: 10px;
    text-align: center;
    animation: clignotementBordure 4s infinite;
    padding: 32px 16px;
}
.logo{
    float: left;
    width: 100px;
    overflow: hidden;
    margin: 10px;
}

.nav-barlogo {


}
.nav-item {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px; /  *  arrondir angle */
    transition: background-color 4s, color 4s;
}
.recherche {
    float: left;
    padding: 14px 16px;

}
.icon-red {
    color: red;
}
.nav-item:hover {
    background-color: #ddd;
    color: black;
}
/* bouton rounds */
.btnForme.round { border-radius: 34px;}
.btnForme.round:before {border-radius: 50%;}


@keyframes clignotementBordure {
    0% { border-color: red; }
    14% { border-color: orange; }
    28% { border-color: yellow; }
    42% { border-color: green; }
    57% { border-color: blue; }
    71% { border-color: indigo; }
    85% { border-color: violet; }
    100% { border-color: red; }
}

body.dark-theme {
    background-image: linear-gradient(135deg, #17212f, #11151e),
    repeating-conic-gradient(#0002 0.000095%, #fff0 .0005%, #fff0 .005%, #fff0 .0005%),
    repeating-conic-gradient(#0002 0.00001%, #fff0 .00009%, #fff0 .00075%, #fff0 .000025%);

}


